/**
 *Mis fuentes más pequeñas*/

.reveal {
  
  font-size: 30px;
}


.reveal h1 {
  font-size: 1.5em; 
  color: 83a;}

.reveal h2 {
  font-size: 1.4em; }

.reveal h3 {
  font-size: 1.2em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }
.reveal table{font-size: 0.5 em;line-height: 0.8em;}
.reveal img  {max-height: 550px;max-width: 80%;}
