/**
 *Mis fuentes más pequeñas*/

 

 @media print { 
  /* All your print styles go here */
  #header, #footer, #nav { display: none !important; } 
 }
 .reveal {

  font-size: 36px;
  line-height: 1.1;
}

.reveal p{

  font-size: 36px;
  margin: 10px 10px 0px 10px;
  line-height: 1.1;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
}
.reveal li{
  line-height: 1.1;
  padding: 5px;}
.reveal h1 {
  font-size: 1.2em; 
  color: #83a;}

.reveal h2 {
  font-size: 1.1em; }

.reveal h3 {
  font-size: 1.1em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }
.reveal table{font-size: 0.5 em;line-height: 0.8em;}
.reveal .slides > section{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px}
.reveal section img  {max-height: 540px;max-width: 80%;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px}
.reveal ol,
.reveal dl,
.reveal ul {
  display: block;
  text-align: left;
  margin: 10px 20px 10px 20px;
  line-height: 1.1;
  }
.reveal pre code{
  word-wrap: break-word;
  overflow: scroll;
  }
a {    word-wrap: break-word;}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.truncate:hover {
  
  white-space: normal;
  overflow:visible;

   }






.DescriptionExcerpt {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
