/**
 *Mis fuentes más pequeñas*/
 .reveal .slide-number {
   right:50%;
   bottom: 60px;
 }
 element.style{top :10px;}

 .reveal #title-footer {
  opacity: 1;
  transition: opacity 800ms ease-in-out;
  position: fixed;
  height: 3.5vh;
  z-index: 20;
  font-size: 1vh;
  text-align: center;
  letter-spacing: 0em;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}
 @media print { 
  /* All your print styles go here */
  #header, #footer, #nav { display: none !important; } 
 }
 .reveal section  img {max-height: 530px; 
  margin: 0  0  0 0;}
.reveal section  img.imagen {max-height: 300px; 
  float:right;
  margin: 0  0  0 0;}

.reveal {
  font-size: 27px;
  margin: 5px;
  padding: 5px;
  line-height: 1.3;
  width: auto;
}
.content-box { columns: 2 auto; }


.reveal p {
  line-height: 1.3;
}

.reveal li{
  line-height: 1.2;}
.reveal h1 {
  font-size: 1.3em; 
  color: #83a;}

.reveal h2 {
  font-size: 1.2em;color: #56a; }

.reveal h3 {
  font-size: 1.1em; color: #83a;}

.reveal h4 {
  font-size: 1em; color: #56a;}

.reveal h1 {
  text-shadow: none; }

/*
.reveal li{margin-left:5px}
.reveal table{font-size: 0.5 em;line-height: 0.8em;}
.reveal .slides > section{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px}*/
.reveal ol,
.reveal dl,
.reveal ul {
  text-align: left;
  line-height: 1.4;
  display: inherit;
  
}
/*.reveal pre {width: 100%;}*/

.reveal pre code{
  font-size: 16px;
  line-height: 1.4;
  max-height: 100%;
  overflow: auto;
  width: 100%;
  }

a { word-wrap: break-word;}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.truncate:hover {
  
  white-space: normal;
  overflow:visible;

   }

.DescriptionExcerpt {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
